<!DOCTYPE html>
<html>
<head>
  <meta>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/login.css">
</head>

<body><img src="images/myhub_logo.png" width="15%" height="15%" style="margin-left:42%; margin-bottom:35%;"><img src="images/adityalogo.png" width="8%" height="8%" style="margin-left:34%;margin-bottom:40%;">
  <div class="wrapper">
    <div class="container">
      <h1>Welcome
        <center>
        </center>
      </h1>
      <form id="loginForm" action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" name="submit" value="Login">
      </form>
    </div>
    <ul class="bg-bubbles">
      <li> </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div id="foot">
    <p id="dev">Developed By <img src="images/T-Hub_logo.png" width="18%" height="18%"></p>
  </div>
</body>

</html>